.wrapper {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 1010px) {
  .wrapper {
    padding: 6vw 10%;
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h2 {
  color: #175E54;
  font-size: calc(30px + 1.7vw);
  font-weight: 600;
  margin: 0 0 60px;
}
@media (max-width: 1010px) {
  h2 {
    margin: 0 0 4vw;
  }
}

.nowrap {
  white-space: nowrap;
}

.hero {
  background-color: #044341;
  display: flex;
  align-items: center;
  height: calc(100vh - 104.9px);
}
@media (max-width: 668px) {
  .hero {
    min-height: 750px;
  }
}
@media (max-width: 500px) {
  .hero {
    min-height: 600px;
  }
}
.hero .wrapper {
  max-width: 1648px;
  padding: 0;
}
@media (max-width: 1009px) {
  .hero .wrapper {
    padding: 0 2%;
  }
}
@media (max-width: 991px) {
  .hero .flex-wrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
@media (max-width: 668px) {
  .hero .flex-wrapper {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}
.hero .tagline {
  margin-left: 2.5%;
  height: 550px;
  width: 78px;
  position: relative;
}
.hero .tagline span {
  color: #279989;
  font-weight: 300;
  font-size: calc(30px + 3vh);
  display: inline-block;
  position: absolute;
  bottom: -78px;
  left: 0;
  transform-origin: top left;
  transform: rotate(-90deg);
  width: auto;
  height: 78px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .hero .tagline span {
    transform: rotate(0);
    position: static;
    width: 100%;
    text-align: center;
    margin: 5% auto;
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .hero .tagline span {
    white-space: normal;
    font-size: calc(30px + 3vw);
  }
}
@media (max-width: 991px) {
  .hero .tagline {
    transform: rotate(0);
    position: static;
    width: 100%;
    text-align: center;
    margin: 5% auto;
    height: auto;
  }
}
@media (max-width: 500px) {
  .hero .tagline {
    margin: 0 auto;
  }
}
.hero .hero-img {
  margin-left: 4.3%;
}
@media (max-width: 991px) {
  .hero .hero-img {
    margin: 0 auto;
  }
}
.hero .hero-img .animation-container {
  position: relative;
  width: 513px;
  height: 513px;
}
@media (max-width: 991px) {
  .hero .hero-img .animation-container {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .hero .hero-img .animation-container {
    width: 200px;
    height: 200px;
  }
}
.hero .hero-img .animation-container .circles,
.hero .hero-img .animation-container .circle-container,
.hero .hero-img .animation-container .circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  animation-iteration-count: 1;
}
.hero .hero-img .animation-container .circles {
  width: 400px;
  height: 400px;
}
@media (max-width: 991px) {
  .hero .hero-img .animation-container .circles {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .hero .hero-img .animation-container .circles {
    width: 200px;
    height: 200px;
  }
}
.hero .hero-img .animation-container .circle-container,
.hero .hero-img .animation-container .circle {
  width: 100%;
  height: 100%;
}
.hero .hero-img .animation-container svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.hero .hero-img .circle {
  border-radius: 100%;
  opacity: 0;
}
@keyframes x1 {
  0% {
    transform: rotateX(0deg) translate(-150px, 0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(0deg) translate(150px, 0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0deg) translate(0, 0);
    opacity: 1;
  }
}
@keyframes x2 {
  0% {
    transform: rotateX(0deg) translate(150px, 0);
    opacity: 0;
  }
  25% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateX(0deg) translate(-150px, 0);
    opacity: 0;
  }
  75% {
    transform: rotateX(360deg) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg) translate(0, 0);
    opacity: 1;
  }
}
@keyframes y1 {
  0% {
    transform: rotateY(0deg) translate(0, -150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0, 150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0, 0);
    opacity: 1;
  }
}
@keyframes y2 {
  0% {
    transform: rotateY(0deg) translate(0, 150px);
    opacity: 0;
  }
  25% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: rotateY(0deg) translate(0, -150px);
    opacity: 0;
  }
  75% {
    transform: rotateY(360deg) translate(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg) translate(0, 0);
    opacity: 1;
  }
}
@keyframes z {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.hero .hero-img .circle__box .c0 {
  animation: z 2.5s 0s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i0 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c1 {
  animation: z 2.5s 1s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i1 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c2 {
  animation: z 2.5s 2s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i2 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c3 {
  animation: z 2.5s 3s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i3 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c4 {
  animation: z 2.5s 4s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i4 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c5 {
  animation: z 2.5s 5s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i5 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c6 {
  animation: z 2.5s 6s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i6 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c7 {
  animation: z 2.5s 7s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i7 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c8 {
  animation: z 2.5s 8s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i8 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c9 {
  animation: z 2.5s 9s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i9 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c10 {
  animation: z 2.5s 10s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i10 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c11 {
  animation: z 2.5s 11s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i11 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c12 {
  animation: z 2.5s 12s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i12 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c13 {
  animation: z 2.5s 13s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i13 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c14 {
  animation: z 2.5s 14s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i14 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c15 {
  animation: z 2.5s 15s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i15 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c16 {
  animation: z 2.5s 16s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i16 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c17 {
  animation: z 2.5s 17s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i17 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c18 {
  animation: z 2.5s 18s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i18 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c19 {
  animation: z 2.5s 19s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i19 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c20 {
  animation: z 2.5s 20s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i20 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c21 {
  animation: z 2.5s 21s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i21 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c22 {
  animation: z 2.5s 22s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i22 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c23 {
  animation: z 2.5s 23s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i23 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c24 {
  animation: z 2.5s 24s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i24 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c25 {
  animation: z 2.5s 25s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i25 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c26 {
  animation: z 2.5s 26s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i26 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c27 {
  animation: z 2.5s 27s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i27 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c28 {
  animation: z 2.5s 28s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i28 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c29 {
  animation: z 2.5s 29s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i29 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c30 {
  animation: z 2.5s 30s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i30 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c31 {
  animation: z 2.5s 31s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i31 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c32 {
  animation: z 2.5s 32s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i32 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c33 {
  animation: z 2.5s 33s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i33 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c34 {
  animation: z 2.5s 34s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i34 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c35 {
  animation: z 2.5s 35s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i35 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c36 {
  animation: z 2.5s 36s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i36 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c37 {
  animation: z 2.5s 37s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i37 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c38 {
  animation: z 2.5s 38s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i38 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c39 {
  animation: z 2.5s 39s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i39 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c40 {
  animation: z 2.5s 40s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i40 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c41 {
  animation: z 2.5s 41s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i41 {
  animation: y2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c42 {
  animation: z 2.5s 42s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i42 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c43 {
  animation: z 2.5s 43s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i43 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c44 {
  animation: z 2.5s 44s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i44 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c45 {
  animation: z 2.5s 45s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i45 {
  animation: x2 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c46 {
  animation: z 2.5s 46s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i46 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c47 {
  animation: z 2.5s 47s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i47 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c48 {
  animation: z 2.5s 48s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i48 {
  animation: y1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .c49 {
  animation: z 2.5s 49s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .i49 {
  animation: x1 3.75s linear;
  animation-iteration-count: 1;
}
.hero .hero-img .circle__box .circles {
  animation: z 7s linear;
}
@keyframes spin {
  0% {
    stroke-width: 0;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-width: 2;
    stroke-dashoffset: 0;
  }
}
.hero .hero-img .colorful .circle-container:nth-of-type(even) .circle {
  border: 1px solid #59b3a9;
}
.hero .hero-img .colorful .circle-container:nth-of-type(odd) .circle {
  border: 1px solid #279989;
}
.hero .hero-img .colorful .circle-container:nth-of-type(3n) .circle {
  border: 1px solid #007C92;
}
.hero .hero-img .colorful .circle-container:nth-of-type(4n) .circle {
  border: 1px solid #4298B5;
}
@media (prefers-reduced-motion: no-preference) {
  .hero .hero-img .colorful.circle__box path#arc11 {
    animation: spin 2s linear forwards;
    animation-delay: 5s;
  }
  .hero .hero-img .colorful.circle__box path#arc21 {
    animation: spin 2s linear forwards;
    animation-delay: 4.75s;
  }
  .hero .hero-img .colorful.circle__box path#arc31 {
    animation: spin 2s linear forwards;
    animation-delay: 4.5s;
  }
  .hero .hero-img .colorful.circle__box path#arc41 {
    animation: spin 2s linear forwards;
    animation-delay: 4.25s;
  }
}
.hero .title {
  margin-left: 5.15%;
}
@media (max-width: 668px) {
  .hero .title {
    text-align: center;
    margin: 0 auto;
  }
}
.hero .title h1 {
  color: #B1EF89;
  font-weight: 300;
  font-size: calc(30px + 3vw);
}
.hero .title h1 span.h3 {
  color: #a2d9e7;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0;
}
.hero .title h1 span.line1,
.hero .title h1 span.line2,
.hero .title h1 span.line3 {
  display: block;
}
@media (max-width: 668px) {
  .hero .title h1 span.line1,
.hero .title h1 span.line2,
.hero .title h1 span.line3 {
    display: inline-block;
    margin-right: 10px;
  }
}
@keyframes an {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero .title h1 p {
  width: 70%;
  display: block;
  text-align: center;
  color: #E8FADC;
}
.hero .title h1 .char {
  display: inline-block;
}
@media (prefers-reduced-motion: no-preference) {
  .hero .title h1 .char {
    animation: an 1s 1 forwards;
    animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
    opacity: 0;
  }
}
.hero .scrolldown {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
}
.hero .scrolldown svg {
  max-width: 30px;
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(0, -20px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .hero .scrolldown svg {
    animation: slidein linear forwards;
    animation-delay: 6s;
    animation-duration: 1s;
    opacity: 0;
  }
}
.hero .scrolldown svg path {
  fill: #7fa2a2;
}

.letter {
  background-color: #E9F7F8;
}
.letter img {
  border-radius: 12px;
  box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
  display: block;
  margin: 60px 0;
}
.letter .letter-content {
  display: flex;
  column-gap: 54px;
}
@media (max-width: 999px) {
  .letter .letter-content {
    display: block;
  }
}
.letter .letter-content .col {
  width: 50%;
}
@media (max-width: 999px) {
  .letter .letter-content .col {
    width: 100%;
  }
}
.letter .letter-content .col p {
  color: #53565A;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.letter .letter-content .col .sign-off {
  margin: 2.3vw 0;
}
.letter .letter-content .col .credentials p {
  font-weight: 400;
  font-size: 18px;
}
.letter .letter-content .col .pdf-link {
  margin-top: 4vw;
}
.letter .letter-content .col .pdf-link p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.letter .letter-content .col .pdf-link p a {
  text-decoration: underline;
  font-weight: inherit;
  color: #175E54;
}
.letter .letter-content .col .pdf-link p a:hover {
  text-decoration: none;
}

.charts {
  background-color: #044341;
}
.charts h2 {
  color: #fff;
}
.charts h3 {
  color: #B1EF89;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.charts h4 {
  color: #a2d9e7;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.charts .graph {
  margin-top: 110px;
}
.charts .graph svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
@keyframes riseup {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pointing {
  from {
    transform: translate(-100px, 100px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.graph1 svg .arrow1, .charts .graph.graph1 svg .arrow2, .charts .graph.graph1 svg circle {
    opacity: 0;
  }
}
.charts .graph.graph1 svg circle {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.charts .graph.graph1 svg .arrow1 {
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.charts .graph.graph1 svg .arrow2 {
  animation-delay: 0.75s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.graph1.active.graph1 circle {
    animation-name: riseup;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.graph1.active.graph1 .arrow1, .charts .graph.graph1.active.graph1 .arrow2 {
    animation-name: pointing;
  }
}
.charts .graph.graph2 svg .first-cover,
.charts .graph.graph2 svg .second-cover,
.charts .graph.graph2 svg .third-cover,
.charts .graph.graph2 svg .fourth-cover,
.charts .graph.graph2 svg .fifth-cover,
.charts .graph.graph2 svg .sixth-cover {
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.graph2 svg .first-cover,
.charts .graph.graph2 svg .second-cover,
.charts .graph.graph2 svg .third-cover,
.charts .graph.graph2 svg .fourth-cover,
.charts .graph.graph2 svg .fifth-cover,
.charts .graph.graph2 svg .sixth-cover {
    display: block;
  }
}
@keyframes reveal {
  from {
    transform: translateY(0);
    display: block;
  }
  to {
    transform: translateY(-100%);
    display: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.active.graph2 svg .first-cover,
.charts .graph.active.graph2 svg .second-cover,
.charts .graph.active.graph2 svg .third-cover,
.charts .graph.active.graph2 svg .fourth-cover,
.charts .graph.active.graph2 svg .fifth-cover,
.charts .graph.active.graph2 svg .sixth-cover {
    animation: reveal 2s forwards 0.01s 1;
  }
}
@keyframes voila {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
@keyframes upto {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .charts .graph.graph3 svg .docs,
.charts .graph.graph3 svg .masters,
.charts .graph.graph3 svg .unders,
.charts .graph.graph3 svg circle {
    opacity: 0;
  }
}
.charts .graph.graph3.active svg .docs,
.charts .graph.graph3.active svg .masters,
.charts .graph.graph3.active svg .unders {
  animation: voila 2s forwards 1;
}
@media (prefers-reduced-motion) {
  .charts .graph.graph3.active svg .docs,
.charts .graph.graph3.active svg .masters,
.charts .graph.graph3.active svg .unders {
    animation: none;
    stroke-dashoffset: 0 !important;
    opacity: 1;
  }
}
.charts .graph.graph3.active svg circle {
  animation: upto 1s forwards 1;
}
@media (prefers-reduced-motion) {
  .charts .graph.graph3.active svg circle {
    animation: none;
    transform: translateY(0);
    opacity: 1;
  }
}

.timeline {
  background-color: #E9F7F8;
}
.timeline p {
  font-size: 20px;
  color: #53565A;
}
.timeline .timeline-key {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
  display: flex;
  flex-wrap: wrap;
  padding: 45px 100px;
  justify-content: space-between;
  row-gap: 28px;
  margin: 60px 0;
}
@media (max-width: 600px) {
  .timeline .timeline-key {
    padding: 10%;
    margin: 4vw 0;
  }
}
.timeline .timeline-key .key {
  display: flex;
  align-items: center;
  column-gap: 23px;
  width: 380px;
}
.timeline .timeline-key .key .circle {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #175E54;
  flex-shrink: 0;
}
.timeline .timeline-key .key p {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #175E54;
  margin: 0;
}
@media (max-width: 600px) {
  .timeline .timeline-key .key p {
    font-size: 20px;
  }
}
.timeline .timeline-key .key:nth-of-type(2) .circle {
  background-color: #009AB4;
}
.timeline .timeline-key .key:nth-of-type(2) p {
  color: #009AB4;
}
.timeline .timeline-key .key:nth-of-type(3) .circle {
  background-color: #279989;
}
.timeline .timeline-key .key:nth-of-type(3) p {
  color: #279989;
}
.timeline .timeline-key .key:nth-of-type(4) .circle {
  background-color: #3C5785;
}
.timeline .timeline-key .key:nth-of-type(4) p {
  color: #3C5785;
}
.timeline .events {
  display: grid;
  grid-template-columns: 1fr 22px 1fr;
  grid-auto-rows: 244px;
  position: relative;
  margin: 86px 0;
}
@media (max-width: 999px) {
  .timeline .events {
    grid-template-columns: 1fr 22px;
    grid-auto-rows: 300px;
    row-gap: 60px;
    max-width: 600px;
  }
}
.timeline .events .timeline-line {
  position: absolute;
  border-left: 3px solid #53565A;
  width: 0;
  height: calc(100% - 244px);
  top: 122px;
  left: 50%;
}
@media (max-width: 999px) {
  .timeline .events .timeline-line {
    left: auto;
    right: 11px;
    top: 150px;
    height: calc(100% - 300px);
  }
}
.timeline .events .event {
  max-width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}
.timeline .events .event .hover {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transform: scale(1) translateX(0);
}
.timeline .events .event .hover:hover {
  transform: scale(1.1) translateX(5%);
  transition-delay: 0.1s;
}
@media (max-width: 999px) {
  .timeline .events .event .hover:hover {
    transform: scale(1.1) translateX(-5%);
  }
}
.timeline .events .event .pointer {
  position: static;
  left: -52px;
  top: 122px;
  width: 52px;
  z-index: 3;
}
.timeline .events .event .pointer .circle {
  fill: #175E54;
}
.timeline .events .event .pointer .line {
  stroke: #53565A;
  stroke-width: 3;
}
.timeline .events .event:nth-of-type(odd) {
  grid-column: 2/4;
}
@media (max-width: 999px) {
  .timeline .events .event:nth-of-type(odd) {
    grid-column: 1/3;
    flex-direction: row-reverse;
  }
  .timeline .events .event:nth-of-type(odd) svg {
    transform: rotate(180deg);
  }
}
.timeline .events .event:nth-of-type(even) {
  grid-column: 1/3;
  flex-direction: row-reverse;
}
.timeline .events .event:nth-of-type(even) .pointer {
  right: -52px;
  left: auto;
}
.timeline .events .event:nth-of-type(even) .hover:hover {
  transform: scale(1.1) translateX(-5%);
}
.timeline .events .event:nth-of-type(even) .copy {
  text-align: right;
}
.timeline .events .event:nth-of-type(3) {
  grid-row-start: 3;
  grid-row-end: 4;
}
.timeline .events .event:nth-of-type(4) {
  grid-row-start: 4;
  grid-row-end: 5;
}
.timeline .events .event:nth-of-type(5) {
  grid-row-start: 5;
  grid-row-end: 6;
}
.timeline .events .event:nth-of-type(6) {
  grid-row-start: 6;
  grid-row-end: 7;
}
.timeline .events .event:nth-of-type(7) {
  grid-row-start: 7;
  grid-row-end: 8;
}
.timeline .events .event:nth-of-type(8) {
  grid-row-start: 8;
  grid-row-end: 9;
}
.timeline .events .event:nth-of-type(9) {
  grid-row-start: 9;
  grid-row-end: 10;
}
.timeline .events .event:nth-of-type(10) {
  grid-row-start: 10;
  grid-row-end: 11;
}
.timeline .events .event:nth-of-type(11) {
  grid-row-start: 11;
  grid-row-end: 12;
}
.timeline .events .event:nth-of-type(12) {
  grid-row-start: 12;
  grid-row-end: 13;
}
.timeline .events .event:nth-of-type(13) {
  grid-row-start: 13;
  grid-row-end: 14;
}
.timeline .events .event:nth-of-type(14) {
  grid-row-start: 14;
  grid-row-end: 15;
}
.timeline .events .event:nth-of-type(15) {
  grid-row-start: 15;
  grid-row-end: 16;
}
.timeline .events .event:nth-of-type(16) {
  grid-row-start: 16;
  grid-row-end: 17;
}
.timeline .events .event:nth-of-type(17) {
  grid-row-start: 17;
  grid-row-end: 18;
}
.timeline .events .event:nth-of-type(18) {
  grid-row-start: 18;
  grid-row-end: 19;
}
.timeline .events .event:nth-of-type(19) {
  grid-row-start: 19;
  grid-row-end: 20;
}
.timeline .events .event .pointer {
  display: absolute;
  left: -52px;
  top: 122px;
  width: 52px;
}
.timeline .events .event .pointer .circle {
  fill: #175E54;
}
.timeline .events .event .pointer .line {
  stroke: #53565A;
  stroke-width: 3;
}
.timeline .events .event .copy {
  flex-shrink: 1;
  max-width: 160px;
}
.timeline .events .event .copy p,
.timeline .events .event .copy p a {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #175E54;
}
.timeline .events .event .copy p strong,
.timeline .events .event .copy p a strong {
  font-weight: 600;
}
@media (max-width: 500px) {
  .timeline .events .event .copy p span.nowrap,
.timeline .events .event .copy p a span.nowrap {
    white-space: normal;
  }
}
.timeline .events .event .image {
  flex-shrink: 0;
}
.timeline .events .event .image img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  border: 4px solid #175E54;
}
@media (max-width: 590px) {
  .timeline .events .event .image img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 500px) {
  .timeline .events .event .image img {
    display: none;
  }
}
@media (max-width: 590px) {
  .timeline .events .event .image svg {
    max-width: 200px;
  }
}
@media (max-width: 500px) {
  .timeline .events .event .image svg {
    display: none;
  }
}
.timeline .events .event .image.noborder img {
  border-radius: 0;
  border: none;
  width: auto;
  height: auto;
}
.timeline .events .event.education .pointer .circle {
  fill: #009AB4;
}
.timeline .events .event.education .copy p,
.timeline .events .event.education .copy p a {
  color: #009AB4;
}
.timeline .events .event.education img {
  border-color: #009AB4;
}
.timeline .events .event.talent .pointer .circle {
  fill: #279989;
}
.timeline .events .event.talent .copy p,
.timeline .events .event.talent .copy p a {
  color: #279989;
}
.timeline .events .event.talent img {
  border-color: #279989;
}
.timeline .events .event.values .pointer .circle {
  fill: #3C5785;
}
.timeline .events .event.values .copy p,
.timeline .events .event.values .copy p a {
  color: #3C5785;
}
.timeline .events .event.values img {
  border-color: #3C5785;
}
.timeline .events .event:nth-of-type(2) .copy {
  max-width: 142px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(2) .copy {
    max-width: 100%;
  }
}
.timeline .events .event:nth-of-type(3) .copy, .timeline .events .event:nth-of-type(18) .copy {
  max-width: 209px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(3) .copy, .timeline .events .event:nth-of-type(18) .copy {
    max-width: 100%;
  }
}
.timeline .events .event:nth-of-type(4) .copy strong, .timeline .events .event:nth-of-type(6) .copy strong, .timeline .events .event:nth-of-type(8) .copy strong, .timeline .events .event:nth-of-type(12) .copy strong, .timeline .events .event:nth-of-type(13) .copy strong, .timeline .events .event:nth-of-type(16) .copy strong, .timeline .events .event:nth-of-type(18) .copy strong, .timeline .events .event:nth-of-type(19) .copy strong {
  display: block;
}
.timeline .events .event:nth-of-type(5) .copy, .timeline .events .event:nth-of-type(7) .copy, .timeline .events .event:nth-of-type(8) .copy, .timeline .events .event:nth-of-type(9) .copy, .timeline .events .event:nth-of-type(11) .copy {
  max-width: 390px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(5) .copy, .timeline .events .event:nth-of-type(7) .copy, .timeline .events .event:nth-of-type(8) .copy, .timeline .events .event:nth-of-type(9) .copy, .timeline .events .event:nth-of-type(11) .copy {
    max-width: 100%;
  }
}
.timeline .events .event:nth-of-type(17) .copy {
  max-width: 405px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(17) .copy {
    max-width: 100%;
  }
}
.timeline .events .event:nth-of-type(18) .copy {
  max-width: 220px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(18) .copy {
    max-width: 100%;
  }
}
.timeline .events .event:nth-of-type(19) .copy {
  max-width: 460px;
}
@media (max-width: 500px) {
  .timeline .events .event:nth-of-type(19) .copy {
    max-width: 100%;
  }
}

.articles p {
  font-size: 20px;
  color: #53565A;
}
.articles button {
  font-size: 18px;
  padding: 20px;
}
.articles .flex-wrapper {
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  column-gap: 20px;
  row-gap: 60px;
  margin-top: 4vw;
}
@media (max-width: 1010px) {
  .articles .flex-wrapper {
    row-gap: 10vw;
  }
}
.articles .flex-wrapper .card {
  border-radius: 8px;
  box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
  max-width: 322px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.articles .flex-wrapper .card .img {
  width: 321px;
  height: 208px;
  max-width: 100%;
}
.articles .flex-wrapper .card .img img {
  border-radius: 8px;
  object-fit: cover;
}
.articles .flex-wrapper .card .article-title,
.articles .flex-wrapper .card .article-link {
  padding: 24px 28px 28px;
}
.articles .flex-wrapper .card .article-title {
  flex-grow: 1;
}
.articles .flex-wrapper .card .article-title h3 {
  color: #175E54;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.15em;
}
.articles .flex-wrapper .card .article-title h3 a {
  font-weight: inherit;
}
.articles .flex-wrapper .card .article-title h3 a:hover {
  color: #175E54;
}
.articles .flex-wrapper .card .article-title p {
  color: #53565A;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: 24px;
}
.articles .flex-wrapper .card .article-link a.article-button p {
  border-radius: 10000px;
  border: 1px solid #175E54;
  background: #FFF;
  text-decoration: none;
  padding: 14px 20px;
  color: #175E54;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
}
.articles .flex-wrapper .card .article-link a.article-button p:hover {
  background: #B1EF89;
  font-weight: 600;
  color: #175E54;
}

.gif .wrapper {
  max-width: 2160px;
  padding-bottom: 0;
}
@media (max-width: 1010px) {
  .gif .wrapper {
    padding: 5vw 0 0;
  }
}
.gif .wrapper img {
  display: block;
}

/*# sourceMappingURL=review.css.map */
