@use "sass:math";

$paloalto-dk: #044341;
$paloalto: #175E54;
$paloalto-lt: #7fa2a2;
$newleaf-lt: #E8FADC;
$newleaf: #B1EF89;
$seaspray: #a2d9e7;
$seaspray-lt: #E9F7F8;
$sky: #4298B5;
$sky-dk: #3C5785;
$lagunita: #007C92;
$lagunita-lt: #009AB4;
$paloverde: #279989;
$paloverde-lt: #59b3a9;
$pebble:  #D9D9D6;
$pebble-dk: #53565A;
.wrapper{
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 80px 0;
  @media(max-width: 1010px){
    padding: 6vw 10%;
  }
}
.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
h2{
  color: $paloalto;
  font-size: calc(30px + 1.7vw);
  font-weight: 600;
  margin: 0 0 60px;
  @media(max-width: 1010px){
    margin: 0 0 4vw;
  }
}
.nowrap{
  white-space: nowrap;
}
.hero{
    background-color: $paloalto-dk;
    display:flex;
    align-items: center;
    height: calc(100vh - 104.9px);
    @media(max-width: 668px){
      min-height: 750px;
    }
    @media(max-width: 500px){
      min-height: 600px;
    }
    .wrapper{
      max-width: 1648px;
      padding: 0;
  @media(max-width: 1009px){
    padding: 0 2%;
  }
  
    }
    .flex-wrapper{
        @media(max-width: 991px){
            flex-direction: row-reverse;
            flex-wrap:wrap;
        }
        @media(max-width: 668px){
            flex-direction: column-reverse;
            flex-wrap:nowrap;
        }
    }
    .tagline{
        margin-left: 2.5%;
        height: 550px;
        width: 78px;
        position: relative;
        span{
            color: $paloverde;
            font-weight: 300;
            font-size: calc(30px + 3vh);
            display: inline-block;
            position: absolute;
            bottom:-78px;
            left: 0;
            transform-origin: top left;
            transform: rotate(-90deg);
            width: auto;
            height: 78px;
            white-space:nowrap;
            @media(max-width: 991px){
                transform:rotate(0);
                position:static;
                width: 100%;
                text-align: center;
                margin: 5% auto;
                display: inline-block;
            }
            @media(max-width: 500px){
              white-space:normal;
              font-size: calc(30px + 3vw);
            }
        }
        @media(max-width: 991px){
            transform:rotate(0);
            position:static;
            width: 100%;
            text-align: center;
            margin: 5% auto;
            height: auto;
        }
        @media(max-width: 500px){
            margin: 0 auto;
        }
    }
    .hero-img{
        margin-left: 4.3%;
        @media(max-width: 991px){
            margin: 0 auto;
        }
        .animation-container {
            position: relative;
            width: 513px;
            height: 513px;
            @media(max-width: 991px){
                width: 300px;
                height: 300px;
            }
            @media(max-width: 500px){
              width: 200px;
              height: 200px;
          }
            .circles,
            .circle-container,
            .circle{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              animation-iteration-count: 1;
            }
            .circles{
              width: 400px;
              height: 400px;
              @media(max-width: 991px){
                width: 300px;
                height: 300px;
              }
              @media(max-width: 500px){
                width: 200px;
                height: 200px;
              }
            }
            .circle-container,
            .circle{
              width: 100%;
              height: 100%;
            }
            svg{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width:100%;
              height: auto;
            }
          }
          .circle {
            border-radius: 100%;
            opacity: 0;
          }
          @keyframes x1 {
            0% {
              transform: rotateX(0deg) translate(-150px,0);
              opacity: 0;
            }
            25% {
              transform: rotateX(360deg) translate(0,0);
              opacity: 0.5;
            }
            50% {
              transform: rotateX(0deg) translate(150px,0);
              opacity: 0;
            }
            75% {
              transform: rotateX(360deg) translate(0,0);
              opacity: 0.5;
            }
            100% {
              transform: rotateX(0deg) translate(0,0);
              opacity: 1;
            }
            
          }
          @keyframes x2 {
            0% {
              transform: rotateX(0deg) translate(150px,0);
              opacity: 0;
            }
            25% {
              transform: rotateX(360deg) translate(0,0);
              opacity: 0.5;
            }
            50% {
              transform: rotateX(0deg) translate(-150px,0);
              opacity: 0;
            }
            75% {
              transform: rotateX(360deg) translate(0,0);
              opacity: 1;
            }
            100% {
              transform: rotateX(0deg) translate(0,0);
              opacity: 1;
            }
            
          }
          @keyframes y1 {
            0% {
              transform: rotateY(0deg) translate(0,-150px);
              opacity: 0;
            }
            25% {
              transform: rotateY(360deg) translate(0,0);
              opacity: 0.5;
            }
            50% {
              transform: rotateY(0deg) translate(0,150px);
              opacity: 0;
            }
            75% {
              transform: rotateY(360deg) translate(0,0);
              opacity: 0.5;
            }
            100% {
              transform: rotateY(0deg) translate(0,0);
              opacity: 1;
            }
          }
          @keyframes y2 {
            0% {
              transform: rotateY(0deg) translate(0,150px);
              opacity: 0;
            }
            25% {
              transform: rotateY(360deg) translate(0,0);
              opacity: 0.5;
            }
            50% {
              transform: rotateY(0deg) translate(0,-150px);
              opacity: 0;
            }
            75% {
              transform: rotateY(360deg) translate(0,0);
              opacity: 0.5;
            }
            100% {
              transform: rotateY(0deg) translate(0,0);
              opacity: 1;
            }
          }
          @keyframes z {
            0% {
              transform: rotateZ(0deg);
            }
            100% {
              transform: rotateZ(360deg);
            }
          }
          
          .circle__box{
            $n:50;
            @for $j from 0 to $n {
              .c#{$j} {
                animation: z 2.5s #{$j}s linear;
                animation-iteration-count: 1;
              }
              .i#{$j}{
              $t:math.random(4);
              @if $t == 1{
                animation: x1 3.75s linear;
                animation-iteration-count: 1;
              } @else if $t == 2{
                animation: x2 3.75s linear;
                animation-iteration-count: 1;
              } @else if $t == 3{
                animation: y1 3.75s linear;
                animation-iteration-count: 1;
              } @else if $t == 4{
                animation: y2 3.75s linear;
                animation-iteration-count: 1;
              }
            }
            }
            .circles {
              animation: z 7s linear;
            }
            @keyframes spin{
              0%{
                stroke-width: 0;
              }
              50%{
                  stroke-dashoffset: 0;
                  opacity: 1;
              }
              100%{
                stroke-width: 2;
                stroke-dashoffset: 0;
              }
          }
        }
        .colorful{
          .circle-container:nth-of-type(even) .circle{
            border: 1px solid $paloverde-lt;
          }
          .circle-container:nth-of-type(odd) .circle{
            border: 1px solid $paloverde;
          }
          .circle-container:nth-of-type(3n) .circle{
            border: 1px solid $lagunita;
          }
          .circle-container:nth-of-type(4n) .circle{
            border: 1px solid $sky;
          }
          &.circle__box{
            @media(prefers-reduced-motion: no-preference){
            path#arc11{
              animation: spin 2s linear forwards;
              animation-delay: 5s;
            }
            path#arc21{
              animation: spin 2s linear forwards;
              animation-delay: 4.75s;
            }
            path#arc31{
              animation: spin 2s linear forwards;
              animation-delay: 4.5s;
            }
            path#arc41{
              animation: spin 2s linear forwards;
              animation-delay: 4.25s;
            }
        }
        }
        }
    }
    .title{
        margin-left: 5.15%;
        @media(max-width: 668px){
            text-align: center;
            margin: 0 auto;
        }
        
        h1{
            color: $newleaf;
            font-weight: 300;
            font-size: calc(30px + 3vw);
            span.h3{
              color: $seaspray;
              font-weight: 600;
              font-size: 30px;
              margin-bottom: 0;
            }
            span.line1,
            span.line2,
            span.line3{
                display: block;
                @media(max-width: 668px){
                    display: inline-block;
                    margin-right: 10px;
                }
            }
            @keyframes an{
                from{
                    opacity: 0;
                    transform: translateY(100px);
                }
                50%{
                  opacity: .3;
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
              }
              p{
                  width: 70%;
                  display: block;
                  text-align: center;
                  color: $newleaf-lt;
              }
              .char{
                  display: inline-block;
              }
              @media(prefers-reduced-motion: no-preference){
              .char{
                  animation: an 1s 1 forwards;
                  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
                  opacity: 0;
                }
            }
        }
    }
    .scrolldown{
        max-width: 100px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2%;
        svg{
            max-width: 30px;
            
            @keyframes slidein {
                from{
                    opacity: 0;
                    transform: translate(0,-20px);
                }
                to{
                    opacity: 1;
                    transform: translate(0,0);
                }
            }
            @media(prefers-reduced-motion: no-preference){
                animation: slidein linear forwards;
                animation-delay: 6s;
                animation-duration: 1s;
                opacity: 0;
            }
            path{
                fill: $paloalto-lt;
            }
        }
    }
}
.letter{
  background-color: $seaspray-lt;
  img{
    border-radius: 12px;
    box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
    display: block;
    margin: 60px 0;
  }
  .letter-content{
    display:flex;
    column-gap: 54px;
    @media(max-width: 999px){
      display: block;
    }
    .col{
      width: 50%;
      @media(max-width: 999px){
        width: 100%;
      }
  p{
    color: $pebble-dk;
    font-size: 20px;
    line-height: 28px;
    font-weight:600;
  }
  .sign-off{
    margin: 2.3vw 0;
  }
  .credentials{
    p{
      font-weight:400;
      font-size:18px;
    }
  }
  .pdf-link{
    margin-top: 4vw;
  p{
    font-size: 20px;
    line-height: 28px;
    font-weight:600;
    a{
      text-decoration: underline;
      font-weight: inherit;
      color: $paloalto;
      &:hover{
        text-decoration:none;
      }
    }
  }
}
    }
}
}
.charts{
  background-color: $paloalto-dk;
  h2{
    color: #fff;
  }
  h3{
    color: $newleaf;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  h4{
    color: $seaspray;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .graph{
    margin-top: 110px;
    svg{
      display:block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
    &.graph1{
      svg{
        @keyframes riseup {
          from{
            transform: translateY(100px);
            opacity: 0;
          }
          to{
            transform: translateY(0);
            opacity: 1;
          }
        }
        @keyframes pointing {
          from{
            transform: translate(-100px, 100px);
            opacity: 0;
          }
          to{
            transform: translate(0,0);
            opacity: 1;
          }
        }
        
        .arrow1, .arrow2, circle{
          @media(prefers-reduced-motion:no-preference){
            opacity: 0;
          }
        }
        circle{
          animation-delay: 1s;
          animation-duration: 1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .arrow1{
          animation-delay: .25s;
          animation-duration: 1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        .arrow2{
          animation-delay: .75s;
          animation-duration: 1s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
    &.active.graph1{
      circle{
        @media(prefers-reduced-motion:no-preference){
          animation-name: riseup;
        }
      }
      .arrow1,.arrow2{
        @media(prefers-reduced-motion:no-preference){
          animation-name: pointing;
        }
      }
    }
    }
    &.graph2{
      svg{
        .first-cover,
        .second-cover,
        .third-cover,
        .fourth-cover,
        .fifth-cover,
        .sixth-cover{
          display:none;
          @media(prefers-reduced-motion:no-preference){
            display:block;
          }
        }
    }
  }
    &.active.graph2{
      @keyframes reveal {
        from{
          transform: translateY(0);
          display:block;
        }
        to{
          transform: translateY(-100%);
          display:none;
        }
      }
      svg{
        .first-cover,
        .second-cover,
        .third-cover,
        .fourth-cover,
        .fifth-cover,
        .sixth-cover{
          @media(prefers-reduced-motion:no-preference){
            animation: reveal 2s forwards 0.01s 1;
          }
        }
      }
    }
    &.graph3{
      @keyframes voila{
        to{
          stroke-dashoffset: 0;
          opacity: 1;
        }
      }
      @keyframes upto{
        from{
        transform: translateY(-100px);
        opacity: 0;
        }
        to{
          transform: translateY(0);
          opacity: 1;
          }
      }
      svg{
        .docs,
        .masters,
        .unders,
        circle{
          @media(prefers-reduced-motion:no-preference){
          opacity: 0;
          }
          }
      }
    }
    
    &.graph3.active{
      svg{
      .docs,
      .masters,
      .unders{
        animation: voila 2s forwards 1;
        @media(prefers-reduced-motion){
          animation:none;
          stroke-dashoffset: 0 !important;
          opacity: 1;
        }
        }
      circle{
        animation: upto 1s forwards 1;
        @media(prefers-reduced-motion){
          animation:none;
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  }
}
.timeline{
  background-color: $seaspray-lt;
  p{
    font-size: 20px;
    color: $pebble-dk;
  }
  .timeline-key{
    border-radius: 12px;
    background: rgba(255,255,255, .4);
    box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 45px 100px;
    justify-content: space-between;
    row-gap: 28px;
    margin: 60px 0;
    @media(max-width: 600px){
      padding: 10%;
      margin: 4vw 0;
    }
    .key{
      display:flex;
      align-items: center;
      column-gap: 23px;
      width: 380px;
      .circle{
        width:43px;
        height: 43px;
        border-radius: 50%;
        background-color: $paloalto;
        flex-shrink: 0;
      }
      p{
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        color: $paloalto;
        margin:0;
        @media(max-width: 600px){
          font-size: 20px;
        }
      }
      &:nth-of-type(2){
        .circle{
          background-color: $lagunita-lt;
        }
        p{
          color: $lagunita-lt;
        }
      }
      &:nth-of-type(3){
        .circle{
          background-color: $paloverde;
        }
        p{
          color: $paloverde;
        }
      }
      &:nth-of-type(4){
        .circle{
          background-color: $sky-dk;
        }
        p{
          color: $sky-dk;
        }
      }
    }
  }
  .events{
    display: grid;
  grid-template-columns: 1fr 22px 1fr;
  grid-auto-rows: 244px;
  position:relative;
  margin: 86px 0;
  @media(max-width:999px){
    grid-template-columns: 1fr 22px;
    grid-auto-rows: 300px;
    row-gap: 60px;
    max-width: 600px;
  }
  .timeline-line{
    position:absolute;
    border-left:3px solid $pebble-dk;
    width:0;
    height: calc(100% - 244px);
    top:122px;
    left: 50%;
    @media(max-width:999px){
      left: auto;
      right: 11px;
      top: 150px;
      height: calc(100% - 300px);
    }
}
    .event{
      max-width: 100%;
      display: flex;
      align-items: center;
      column-gap: 10px;
      position: relative;
      .hover{
        display:flex;
        align-items: center;
        column-gap: 10px;
        transform: scale(1) translateX(0);
        &:hover{
        transform: scale(1.1) translateX(5%);
        transition-delay: .1s;
        @media(max-width:999px){
          transform: scale(1.1) translateX(-5%);
        }
      }
    }
      .pointer{
        position: static;
        left:-52px;
        top:122px;
        width: 52px;
        z-index:3;
        .circle{
          fill: $paloalto;
        }
        .line{
          stroke:$pebble-dk;
          stroke-width: 3;
        }
      }
      &:nth-of-type(odd){
        grid-column: 2/4;
        @media(max-width: 999px){
          grid-column: 1/3;
          flex-direction: row-reverse;
          svg{
            transform: rotate(180deg);
          }
        }
      }
      &:nth-of-type(even){
        grid-column: 1/3;
        flex-direction: row-reverse;
        .pointer{
          right:-52px;
          left: auto;
        }
        .hover{
          &:hover{
            transform: scale(1.1) translateX(-5%);
          }
        }
        .copy{
          text-align:right;
        }
      }
      &:nth-of-type(3){
        grid-row-start: 3;
          grid-row-end: 4;
      }
      &:nth-of-type(4){
        grid-row-start: 4;
          grid-row-end: 5;
      }
      &:nth-of-type(5){
        grid-row-start: 5;
          grid-row-end: 6;
      }
      &:nth-of-type(6){
        grid-row-start: 6;
          grid-row-end: 7;
      }
      &:nth-of-type(7){
        grid-row-start: 7;
          grid-row-end: 8;
      }
      &:nth-of-type(8){
        grid-row-start: 8;
          grid-row-end: 9;
      }
      &:nth-of-type(9){
        grid-row-start: 9;
          grid-row-end: 10;
      }
      &:nth-of-type(10){
        grid-row-start: 10;
          grid-row-end: 11;
      }
      &:nth-of-type(11){
        grid-row-start: 11;
          grid-row-end: 12;
      }
      &:nth-of-type(12){
        grid-row-start: 12;
          grid-row-end: 13;
      }
      &:nth-of-type(13){
        grid-row-start: 13;
          grid-row-end: 14;
      }
      &:nth-of-type(14){
        grid-row-start: 14;
          grid-row-end: 15;
      }
      &:nth-of-type(15){
        grid-row-start: 15;
          grid-row-end: 16;
      }
      &:nth-of-type(16){
        grid-row-start: 16;
          grid-row-end: 17;
      }
      &:nth-of-type(17){
        grid-row-start: 17;
          grid-row-end: 18;
      }
      &:nth-of-type(18){
        grid-row-start: 18;
          grid-row-end: 19;
      }
      &:nth-of-type(19){
        grid-row-start: 19;
          grid-row-end: 20;
      }
      .pointer{
        display: absolute;
        left:-52px;
        top:122px;
        width: 52px;
        .circle{
          fill: $paloalto;
        }
        .line{
          stroke:$pebble-dk;
          stroke-width: 3;
        }
      }
      .copy{
        flex-shrink: 1;
        max-width: 160px;
      p,
      p a{
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        color: $paloalto;
        strong{
          font-weight: 600;
        }
        span.nowrap{
          @media(max-width: 500px){
            white-space: normal;
          }
        }
      }
      }
      .image{
        flex-shrink:0;
        img{
          width: 260px;
          height: 260px;
          border-radius: 50%;
          display:block;
          border: 4px solid $paloalto;
          @media(max-width: 590px){
            width: 200px;
            height: 200px;
          }
          @media(max-width: 500px){
            display: none;
          }
        }
        
        svg{
          @media(max-width: 590px){
          max-width: 200px;
        }
        @media(max-width: 500px){
          display: none;
        }
      
      }
        &.noborder{
          img{
            border-radius: 0;
            border: none;
            width: auto;
            height: auto;
          }
        }
      }
      &.education{
        .pointer{
          .circle{
            fill: $lagunita-lt;
          }
        }
        .copy p,
      .copy p a{
          color: $lagunita-lt;
        }
        img{
          border-color: $lagunita-lt;
        }
        
      }
      &.talent{
        .pointer{
          .circle{
            fill: $paloverde;
          }
        }
        .copy p,
      .copy p a{
          color: $paloverde;
        }
        img{
          border-color: $paloverde;
        }
      }
      &.values{
        .pointer{
          .circle{
            fill: $sky-dk;
          }
        }
        .copy p,
      .copy p a{
          color: $sky-dk;
        }
        img{
          border-color: $sky-dk;
        }
      }
      &:nth-of-type(2){
        .copy{
          max-width: 142px;
          @media(max-width:500px){
            max-width:100%;
          }
        }
      }
      &:nth-of-type(3),
      &:nth-of-type(18){
        .copy{
          max-width: 209px;
          @media(max-width:500px){
            max-width:100%;
          }
        }
      }
      &:nth-of-type(4),
      &:nth-of-type(6),
      &:nth-of-type(8),
      &:nth-of-type(12),
      &:nth-of-type(13),
      &:nth-of-type(16),
      &:nth-of-type(18),
      &:nth-of-type(19){
        .copy strong{
          display:block;
        }
      }
      &:nth-of-type(5),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(11){
        .copy{
          max-width: 390px;
          @media(max-width:500px){
            max-width:100%;
          }
        }
      }
      &:nth-of-type(17){
        .copy{
          max-width: 405px;
          @media(max-width:500px){
            max-width:100%;
          }
        }
      }
      &:nth-of-type(18){
        .copy{
         max-width: 220px;
         @media(max-width:500px){
          max-width:100%;
        }
        }
      }
      &:nth-of-type(19){
        .copy{
         max-width: 460px;
         @media(max-width:500px){
          max-width:100%;
        }
        }
      }
    }
  }
}
.articles{
  p{
    font-size: 20px;
    color: $pebble-dk;
  }
  button{
    font-size: 18px;
    padding: 20px;
  }
  .flex-wrapper{
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
    margin-top: 4vw;
    @media(max-width:1010px){
      row-gap: 10vw;
    }
    .card{
      border-radius: 8px;
      box-shadow: 0px 0px 9px 1px rgba(89, 179, 169, 0.25);
      max-width: 322px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .img{
        width: 321px;
        height: 208px;
        max-width: 100%;
        img{
        border-radius: 8px;
        object-fit: cover;
        }
      }
      .article-title,
      .article-link{
        padding: 24px 28px 28px;
      }
      .article-title{
        flex-grow: 1;
        h3{
        color: $paloalto;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.15em;
        a{
          font-weight: inherit;
          &:hover{
            color: $paloalto;
          }
        }
        }
        p{
          color: $pebble-dk;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5em;
          margin-top: 24px;
        }
      }
      
      .article-link{
        a.article-button p{
          border-radius: 10000px;
          border: 1px solid $paloalto;
          background: #FFF;
          text-decoration: none;
          padding: 14px 20px;
          color: $paloalto;
          font-size: 16px;
          display: inline-block;
          margin-bottom: 0;
          &:hover{
            background: $newleaf;
            font-weight: 600;
            color: $paloalto;
          }
        }
      }
    }
  }
}
.gif{
  .wrapper{
    max-width: 2160px;
    padding-bottom:0;
    @media(max-width: 1010px){
      padding: 5vw 0 0;
    }
    img{
      display:block;
    }
  }
}